<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Recipe - RecipEase</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

</head>
{% extends "recipes/base.html" %}
{% block content %}

<body>
    <div class="recipe-container">
        <h2>Add a New Recipe</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <button type="submit">Add Recipe</button>
        </form>
    </div>
</body>
{% endblock %}

</html>