<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - RecipEase</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <style>

    </style>
</head>
{% extends "recipes/base.html" %}
{% block content %}

<body>

    <div class="profile-container">
        <h2>Your Profile</h2>
        <p>Username: {{ request.user.username }}</p>
        <p>Email: {{ request.user.email }}</p>

        <h3>Change Password</h3>
        <form class="profile-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="profile-button" type="submit">Change Password</button>
        </form>
    </div>

</body>
{% endblock %}

</html>