{% extends "recipes/base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.title }} - Recipe Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    {% block content %}



    <main>
        <h1 class="recipe-detail-title">{{ recipe.title }}</h1>

        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="Image of {{ recipe.title }}" class="recipe-image">
        {% endif %}

        <div>

            <h2 class="detail-title">Description</h2>
            <div>
                <p class="section">{{ recipe.description }}</p>
            </div>
        </div>

        <h3 class="detail-title">Ingredients:</h3>
        <div class="section">
            <div>
                <ul>
                    {% for ingredient in ingredients %}
                    <li class="ingredients-list">{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div></div>
        <h2 class="section">Cooking Time</h2>
        <div class="section">
            <p>{{ recipe.cooking_time }} minutes</p>
        </div>

        <div>
            <h2 class="detail-title">Difficulty</h2>
            <div class="section">
                <p>{{ recipe.difficulty }}</p>
            </div>
        </div>

    </main>



    {% endblock %}

</body>

</html>