<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Recipes - RecipEase</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    {% extends "recipes/base.html" %}
    {% block content %}

    <main>
        <!-- Add search form here -->
        <form class="recipes_list-search-form" method="GET" action="{% url 'recipes_list' %}">
            <input type="text" name="search" placeholder="Search by title or ingredient" value="{{ search_query }}">
            <button type="submit">Search</button>
        </form>

        <div class="recipes_list-recipe-list">
            {% for recipe in recipes %}
            <div class="recipes_list-recipe-item">
                <h2>{{ recipe.title }}</h2>
                <p>{{ recipe.description }}</p>
                <a href="{% url 'recipe_detail' recipe.id %}">View Recipe</a>
            </div>
            {% empty %}
            <p>No recipes available at the moment.</p>
            {% endfor %}
        </div>

        <!-- Display the DataFrame if available -->
        {% if data_frame %}
        <div class="recipes_list-data-frame">
            {{ data_frame|safe }} <!-- Render the DataFrame as HTML -->
        </div>
        {% endif %}
    </main>

    {% endblock %}

</body>

</html>