<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - RecipEase</title>
</head>
{% extends "recipes/base.html" %}
{% block content %}

<body class="signup">
    <main class="signup">
        <h2>Create Your Account</h2>
        <form class="signup" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="signup" type="submit">Sign Up</button>
        </form>
    </main>
</body>
{% endblock %}

</html>