<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Success</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    {% extends "recipes/base.html" %}
    {% block content %}

    <main class="success-main">
        <h2 class="success-h2">You’ve successfully logged out!</h2>
        <p class="success-p"><a class="success-a" href="{% url 'login' %}">Log back in</a></p>
    </main>

    {% endblock %}

</body>

</html>